h1 {
	background: #001159;
	width: 100%;
	border: 0;
	margin: 15px 0 20px;
	box-sizing: border-box;
	height: 65px;
	text-align: center;
	border-radius: inherit;
	color: white;
}

h3 {
	margin-left: 5%;
}

h4 {
	margin-left: 5%;
}

.button {
    width: 80px;
    height: 80px;
	background-color: white;
	border: white;
	margin-left: 5%;
}

#record {
	margin-left: 15%;
	background-color: rgba(0,0,136,0.23);
	padding: 10px;
}

#stop {
	margin-left: 15%;
	background-color: rgba(0,0,136,0.23);
	padding: 10px;
}

.column {
  float: left;
}

.left {
	height: 500px;
	width: 25%;
	background-color:rgba(0,0,136,0.4);
}

.right {
	height: 500px;
	width: 75%;
	background-color:rgba(0,0,136,0.2);
}

.c1 {
	width: 45%;
	height: 80px;
}

.c2 {
	width: 45%;
	height: 80px;
}

.c3 {
	width: 70%;
	height: 80px;
}

.c4 {
	width: 20%;
	height: 80px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(0,0,136,0.23);
  top: 80%;
}